# See https://docs.github.com/en/get-started/git-basics/ignoring-files

# dependencies
node_modules/

# build output
dist/
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.local
