<nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
    <div class="container">
        <a class="navbar-brand pe-4 fs-4" href="/">
            <img src="assets/img/logo.png" alt="Logo" height="32" class="d-inline-block align-text-top">
            <span class="ms-1 fw-bolder">Pack Recommender</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngStyle]="{ direction: langService.dir }">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">{{ 'nav.services' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#aboutus">{{ 'nav.about' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#numbers">{{ 'nav.numbers' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#gallery">{{ 'nav.gallery' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#workwithus">{{ 'nav.work' | translate }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#contactus">{{ 'nav.contactus' | translate }}</a></li>

            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">
        <div class="container position-relative">
            <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover"
                [attr.data-aos]="langService.dir === 'ltr' ? 'fade-right' : 'fade-left'"
                style="background-image: url(assets/img/packages-main.png); opacity: 0.3;"></div>
            <div class="row">
                <div class="col-lg-7 py-vh-6 position-relative" [ngStyle]="{ direction: langService.dir }"
                    [attr.data-aos]="langService.dir === 'ltr' ? 'fade-right' : 'fade-left'">
                    <h1 class="display-1 fw-bold mt-5">{{ 'hero.title' | translate }}</h1>
                    <p class="lead">{{ 'hero.subtitle' | translate }}</p>

                </div>
            </div>
        </div>
    </div>
    <div class="py-vh-5 w-100 overflow-hidden" id="services">
        <div class="container">
            <div class="row d-flex justify-content-end">
                <div class="col-lg-8" data-aos="fade-down" [ngStyle]="{ direction: langService.dir }">
                    <h2 class="display-6">
                        {{ 'services.intro' | translate }}
                    </h2>
                </div>
            </div>
            <div class="row d-flex align-items-center" [ngStyle]="{ direction: langService.dir }">
                <div class="col-md-6 col-lg-4 py-vh-1" data-aos="fade-up" data-aos-delay="200"
                    [ngStyle]="{ direction: langService.dir }">
                    <span class="h5 fw-lighter">01.</span>
                    <h3 class="py-3 border-top border-dark">{{ 'services.item1.title' | translate }}</h3>
                    <p>{{ 'services.item1.desc' | translate }}</p>
                </div>

                <div class="col-md-6 col-lg-4 py-vh-5 pb-0" data-aos="fade-up" data-aos-delay="400"
                    [ngStyle]="{ direction: langService.dir }">
                    <span class="h5 fw-lighter">02.</span>
                    <h3 class="py-3 border-top border-dark">{{ 'services.item2.title' | translate }}</h3>
                    <p>{{ 'services.item2.desc' | translate }}</p>
                </div>

                <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600"
                    [ngStyle]="{ direction: langService.dir }">
                    <span class="h5 fw-lighter">03.</span>
                    <h3 class="py-3 border-top border-dark">{{ 'services.item3.title' | translate }}</h3>
                    <p>{{ 'services.item3.desc' | translate }}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="aboutus">
        <div class="container">

            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="row gx-5 d-flex">
                        <div class="col-md-11">
                            <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end"
                                [attr.data-aos]="langService.dir === 'ltr' ? 'fade-right' : 'fade-left'"
                                style="background-image: url(assets/img/dani-print.png);--bs-aspect-ratio: 64%;">
                            </div>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end"
                                data-aos="fade-up" style="background-image: url(assets/img/dani-profile.png);">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center"
                                [attr.data-aos]="langService.dir === 'ltr' ? 'fade-left' : 'fade-right'"
                                style="background-image: url(assets/img/dani-grow.jpeg);--bs-aspect-ratio: 150%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="py-5 border-top border-dark" [ngStyle]="{ direction: langService.dir }"
                        [attr.data-aos]="langService.dir === 'ltr' ? 'fade-left' : 'fade-right'">
                        {{ 'about.title' | translate }}
                    </h3>
                    <p [ngStyle]="{ direction: langService.dir }"
                        [attr.data-aos]="langService.dir === 'ltr' ? 'fade-left' : 'fade-right'" data-aos-delay="200">
                        {{ 'about.p1' | translate }}
                    </p>
                    <p [ngStyle]="{ direction: langService.dir }"
                        [attr.data-aos]="langService.dir === 'ltr' ? 'fade-left' : 'fade-right'" data-aos-delay="300">
                        {{ 'about.p2' | translate }}
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="py-vh-5 w-100 overflow-hidden" id="numbers">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-lg-5">
                    <h3 class="py-5 border-top border-dark" [ngStyle]="{ direction: langService.dir }"
                        [attr.data-aos]="langService.dir === 'ltr' ? 'fade-right' : 'fade-left'">{{ 'numbers.title' |
                        translate }}</h3>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="display-6 mb-5" [ngStyle]="{ direction: langService.dir }" data-aos="fade-down">
                                {{ 'numbers.intro' | translate }}</h2>
                        </div>
                        <div class="col-lg-6" [ngStyle]="{ direction: langService.dir }" data-aos="fade-up">
                            <div class="display-1 fw-bold py-4">+$50M</div>
                            <p class="text-black-50">{{ 'numbers.item1' | translate }}</p>
                        </div>
                        <div class="col-lg-6" [ngStyle]="{ direction: langService.dir }" data-aos="fade-up">
                            <div class="display-1 fw-bold py-4">12+</div>
                            <p class="text-black-50">{{ 'numbers.item2' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
        <div class="container-fluid">
            <div class="row overflow-scroll">
                <div class="col-12">
                    <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
                        <div class="col-md-2">
                            <img src="assets/img/gallery1.png" class="rounded shadow img-fluid" alt="nice gallery image"
                                width="512" height="341">
                        </div>

                        <div class="col-md-2">
                            <img src="assets/img/gallery2.jpg" class="img-fluid rounded shadow" alt="nice gallery image"
                                width="1164" height="776">
                        </div>

                        <div class="col-md-3">
                            <img src="assets/img/gallery3.jpg" class="img-fluid rounded shadow" alt="nice gallery image"
                                width="844" height="1054">
                        </div>

                        <div class="col-md-3">
                            <img src="assets/img/gallery4.jpg" class="img-fluid rounded shadow" alt="nice gallery image"
                                width="844" height="562">
                        </div>

                        <div class="col-md-2">
                            <img src="assets/img/gallery5.jpg" class="rounded shadow img-fluid" alt="nice gallery image"
                                width="512" height="341">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="workwithus">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8 text-center" [ngStyle]="{ direction: langService.dir }" data-aos="fade">
                        <p class="text-secondary lead">{{ 'cta.subtitle' | translate }}</p>
                        <h2 class="display-6 mb-5">{{ 'cta.text' | translate }}</h2>
                    </div>
                    <div class="col-12">
                        <a href="#contactus" class="btn btn-warning btn-xl shadow me-3 mt-4" data-aos="fade-down">{{ 'cta.button'
                            | translate }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="small py-vh-3 w-100 overflow-hidden" style="height: 385px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" [ngStyle]="{ direction: langService.dir }">
                    <div class="d-flex">
                        <div class="col-md-3 pt-3 ps-3 pe-md-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                                class="bi bi-box-seam" viewbox="0 0 16 16">
                                <path
                                    d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                            </svg>
                        </div>
                        <div class="col-md-9 flex-fill">
                            <h3 class="h5 my-2">{{ 'features.item1.title' | translate }}</h3>
                            <p>{{ 'features.item1.desc' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 border-end" [ngStyle]="{ direction: langService.dir }" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="d-flex">
                        <div class="col-md-3 pt-3 pt-3 ps-3 pe-md-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                                class="bi bi-card-checklist" viewbox="0 0 16 16">
                                <path
                                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </div>
                        <div class="col-md-9 flex-fill">
                            <h3 class="h5 my-2">{{ 'features.item2.title' | translate }}</h3>
                            <p>{{ 'features.item2.desc' | translate }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4" [ngStyle]="{ direction: langService.dir }" data-aos="fade-up"
                    data-aos-delay="400">
                    <div class="d-flex">
                        <div class="col-md-3 pt-3 pt-3 ps-3 pe-md-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                                class="bi bi-window-sidebar" viewbox="0 0 16 16">
                                <path
                                    d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                <path
                                    d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z" />
                            </svg>
                        </div>
                        <div class="col-md-9 flex-fill">
                            <h3 class="h5 my-2">{{ 'features.item3.title' | translate }}</h3>
                            <p>{{ 'features.item3.desc' | translate }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="py-vh-5 w-100 overflow-hidden" id="contactus">
        <div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
            <div class="row d-flex justify-content-center" [ngStyle]="{ direction: langService.dir }">
                <div class="col-12 col-lg-8">
                    <h2 class="display-5 text-center mb-4">{{ 'contact.title' | translate }}</h2>

                    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
                        <div class="mb-3">
                            <label for="contactName" class="form-label">{{ 'contact.name' | translate }}</label>
                            <input type="text" class="form-control p-3" id="contactName" formControlName="name"
                                [placeholder]="'contact.placeholder.name' | translate" />
                        </div>

                        <div class="mb-3">
                            <label for="contactEmail" class="form-label">{{ 'contact.email' | translate }}</label>
                            <input type="email" style="direction: ltr;" class="form-control p-3" id="contactEmail"
                                formControlName="email" [placeholder]="'contact.placeholder.email' | translate" />
                        </div>

                        <div class="mb-3">
                            <label for="contactPhone" class="form-label">{{ 'contact.phone' | translate }}</label>
                            <input type="tel" class="form-control p-3" id="contactPhone" formControlName="phone"
                                [placeholder]="'contact.placeholder.phone' | translate" />
                        </div>

                        <div class="mb-3">
                            <label for="contactMessage" class="form-label">{{ 'contact.message' | translate }}</label>
                            <textarea class="form-control p-3" id="contactMessage" formControlName="message" rows="4"
                                [placeholder]="'contact.placeholder.message' | translate"></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-dark py-3 px-5" [disabled]="contactForm.invalid">
                                {{ 'contact.submit' | translate }}
                            </button>
                        </div>

                        <div class="text-center mt-3 text-success" *ngIf="successMessage">
                            {{ 'contact.success' | translate }}
                        </div>
                        <div class="text-center mt-3 text-danger" *ngIf="errorMessage">
                            {{ 'contact.error' | translate }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<footer>
</footer>